USE [master]
GO
/****** Object:  Database [IF4101_AC_2021]    Script Date: 2/21/2021 8:42:29 PM ******/
CREATE DATABASE [IF4101_AC_2021]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IF4101_AC_2021', FILENAME = N'D:\rdsdbdata\DATA\IF4101_AC_2021.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IF4101_AC_2021_log', FILENAME = N'D:\rdsdbdata\DATA\IF4101_AC_2021_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IF4101_AC_2021].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IF4101_AC_2021]
GO
/****** Object:  User [admin]    Script Date: 2/21/2021 8:42:33 PM ******/
CREATE USER [admin] FOR LOGIN [admin] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [admin]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 2/21/2021 8:42:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[FirstSurname] [varchar](50) NOT NULL,
	[SecondSurname] [varchar](50) NOT NULL,
	[Address] [varchar](250) NOT NULL,
	[Phone] [varchar](50) NOT NULL,
	[SecondContact] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Television] [int] NULL,
	[MobilePhone] [int] NULL,
	[Telephone] [int] NULL,
	[Internet] [int] NULL,
	[CreationDate] [date] NULL,
	[CreationUser] [varchar](20) NULL,
	[UpdateDate] [date] NULL,
	[UpdateUser] [varchar](20) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 2/21/2021 8:42:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](250) NOT NULL,
	[IdIssue] [int] NULL,
	[ReportNumber] [varchar](100) NULL,
	[CreationDate] [date] NULL,
	[CreationUser] [varchar](20) NULL,
	[UpdateDate] [date] NULL,
	[UpdateUser] [varchar](20) NULL,
 CONSTRAINT [PK_Comment] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Issue]    Script Date: 2/21/2021 8:42:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Issue](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ReportNumber] [varchar](100) NOT NULL,
	[Address] [varchar](250) NOT NULL,
	[ContactPhone] [varchar](50) NOT NULL,
	[ContactEmail] [varchar](50) NOT NULL,
	[Status] [varchar](50) NOT NULL,
	[SupportUserAsigned] [varchar](50) NULL,
	[IdUser] [int] NULL,
	[Description] [varchar](50) NULL,
	[Service] [varchar](50) NULL,
	[CreationDate] [date] NULL,
	[CreationUser] [varchar](20) NULL,
	[UpdateDate] [date] NULL,
	[UpdateUser] [varchar](20) NULL,
 CONSTRAINT [PK_Issue] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Client] ADD  CONSTRAINT [DFCreationDateClient]  DEFAULT (getdate()) FOR [CreationDate]
GO
ALTER TABLE [dbo].[Comment] ADD  CONSTRAINT [DFCreationDateComment]  DEFAULT (getdate()) FOR [CreationDate]
GO
ALTER TABLE [dbo].[Issue] ADD  CONSTRAINT [DFCreationDateIssue]  DEFAULT (getdate()) FOR [CreationDate]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FKCommentIssue] FOREIGN KEY([IdIssue])
REFERENCES [dbo].[Issue] ([Id])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FKComment_Issue]
GO
ALTER TABLE [dbo].[Issue]  WITH CHECK ADD  CONSTRAINT [FK_IssueUser] FOREIGN KEY([IdUser])
REFERENCES [dbo].[Client] ([Id])
GO
ALTER TABLE [dbo].[Issue] CHECK CONSTRAINT [FKIssueUser]
GO
/****** Object:  StoredProcedure [dbo].[SelectClientByEmail]    Script Date: 2/21/2021 8:42:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SelectClientByEmail] (
@Email varchar(50), 
@Password varchar(50) ) 

AS 
  BEGIN 
    SELECT Id, name, FirstSurname, SecondSurname, Address, Phone, SecondContact, Email, Id as 'Password', Television, MobilePhone, Telephone, Internet, CreationDate, CreationUser, UpdateDate, UpdateUser
	from Client
	Where Client.[Password]=@Password and Client.Email=@Email

END 
GO
USE [master]
GO
